---
import "@cloudscape-design/global-styles/index.css";

interface Props {
  title?: string;
}
const { title = "Piotrek's Toolbox" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <style>
      /* Cloudscape expects full-height layout */
      html, body, #app {
        margin: 0;
        padding: 0;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
